<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <!-- my-[67px] is used for entering custom value in tailwindcss -->
    <div class="bg-green-500 text-center p-5 text-4xl my-[67px]"> Congratulations! Finally I have done it myself </div>
    
</body>
</html>